:root {
  --blue: #007BFF;
  --light-blue: #5AC8FA;
  --dark-blue: #0056B3;
  --white: #FFFFFF;
  --light-gray: #F8F9FA;
  --dark-gray: #343A40;
}

* {
  box-shadow: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  position: relative; /* Establish stacking context */
  z-index: 1000; /* Ensure header stays on top */
}

.sidebar {
  position: relative; /* Establish stacking context */
  z-index: 1000; /* Ensure header stays on top */
  display: flex;
  align-items: center;
  background-color: var(--dark-blue);
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-right: 1rem;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 1rem;
}

.sidebar-title {
  font-weight: bold;
  color: white;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-btn .bar {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* When the mobile menu is shown, the bars will transform into an "X" */
.menu-btn .bar1-active {
  transform: rotate(45deg) translateY(10px);
}

.menu-btn .bar2-active {
  opacity: 0; /* Hide the middle bar */
}

.menu-btn .bar3-active {
  transform: rotate(-45deg) translateY(-12px);
}

nav {
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-blue);
  color: white;
  position: relative; /* Stacking context */
  z-index: 999; /* Ensure nav is below header */
}

.sidebar nav {
  flex-direction: column;
  width: 100%;
}

.left-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.sidebar .left-nav {
  flex-direction: column;
  width: 100%;
}

.sidebar .right-nav {
  flex-direction: column;
  width: 100%;
}

.right-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

nav .nav-item {
  text-align: center;
  width: 100%;
  padding: 1rem;
  list-style: none;
  text-decoration: none;
  color: white;
}

nav .nav-item:hover {
  background-color: var(--light-gray);
  color: var(--dark-blue);
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    background-color: #333;
    position: relative;
    min-height: 10vh;
  }

  .sidebar {
    height: 10vh;
  }

  .logo {
    /* Keep logo inside header */
  }

  .sidebar-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  .menu-btn {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 1001; /* Ensure the button stays on top */
  }

  nav {
    padding-top: 15%;
    flex-direction: column;
    transition: all 0.3s;
    position: fixed; /* Make the nav fixed at the top */
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-100%); /* Hide it by default */
    z-index: 999; /* Ensure it stays below the logo */
  }

  nav.mobile-active {
    transform: translateY(0); /* Show the nav when mobile-hidden class is removed */
  }

  nav .left-nav, nav .right-nav {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }

  nav .right-nav {
    margin-top: 1rem;
    border-top: 1px solid #555;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.light-gray-bg {
  background-color: var(--light-gray);
}

.white-bg {
  background-color: var(--white);
}
